.main{
    height: 800px;
    width: 100%;
}

.header{
    height: 100px;
    width: 100%;
    background: lightblue;
    border: 3px solid black;
    margin: 5px 0px;
}

.body{
    height: 700px;
    width: 100%;
}

.b1{
    height: 700px;
    width: 32%;
    background: pink;
    float: left;
    border: 3px solid black;
    margin: 14px 0px;
    margin-right: 14px;
}

.b2{
    height: 700px;
    width: 32%;
    background: lightgreen;
    float: left;
    border: 3px solid black;
    margin: 13px;
}

.b3{
    height: 700px;
    width: 32%;
    background: yellow;
    float: left;
    border: 3px solid black;
    margin: 14px 0px;
    margin-left: 14px;
}